.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dropdown-toggle {
    height: 38px;
    color: #FFFFFF;
}

.header {
    background-color: #031D54;
    color: #FFFFFF;
}
.dropdown-menu {
    width: 250px;
}
.inventory-item-preview {
    margin: 15px;
    background-color: #B1C7F5;
    border-radius: 5px;
    min-height: 140px;
    min-width: 140px;
    box-shadow: black 0px 0px 5px 0px
}

.inventory-item-preview:hover {
    box-shadow: inset black 0px 0px 5px 0px
}

.icon-box {
  display: inline-block;
  width: 4em;
  height: 4em;
  margin-right: 1em;
  background-color: #031D54;
  text-align: center;
}

.icon-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.icon-box a {  
  color: white;
  font-size: 2em;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.icon-container div:last-child {
  margin-right: 0;
}

.add-entry-icon {
    color: #B1C7F5;
}

.button-search {
    background-color: #031D54;
    color: white;
}
