.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dropdown-toggle {
    height: 38px;
    color: #FFFFFF;
}

.header {
    background-color: #031D54;
    color: #FFFFFF;
}
.dropdown-menu {
    width: 250px;
}
.inventory-item-preview {
    margin: 15px;
    background-color: #B1C7F5;
    border-radius: 5px;
    min-height: 140px;
    min-width: 140px;
    box-shadow: black 0px 0px 5px 0px;
    background-size: cover;
}

.inventory-item-preview:hover {
    box-shadow: inset black 0px 0px 5px 0px;
}

.icon-box {
  display: inline-block;
  width: 4em;
  height: 4em;
  margin-right: 1em;
  background-color: #031D54;
  text-align: center;
}

.icon-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.icon-box a {  
  color: white;
  font-size: 2em;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.icon-container div:last-child {
  margin-right: 0;
}

.add-entry-icon {
    color: #B1C7F5;
}

.button-search {
    background-color: #031D54;
    color: white;
}

/* img crop styles */

.avatar-upload {
    position: relative;
    max-width: 209px;
    margin: auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: -10px;
    z-index: 1;
    top: 176px;
    text-align: center;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-bottom: 0;
    background: #031D54;
    color: #FFFFFF;
    border: 1px solid #031D54;
    border-radius: 100%;
    box-shadow: 0 0 5px 0 #031D54;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
    background: #B1C7F5;
    border: 3px solid #031D54;
    color: #031D54;
    box-shadow: none;
}

.avatar-upload .avatar-edit input + label:after {
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 209px;
    height: 209px;
    position: relative;
    border: 5px solid #031D54;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #B1C7F5;
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#image_upload_icon {
    line-height: 45px;
}


/* other styles */

h1 > p {
    font-size: 12px;
}

h1 p {
    color: green;
}
