.login-container {
    max-width: 400px;
    background-color: #B1C7F5;
    color: #000000;
    margin: auto;
}

.registration-link {
    color: #031D54;
}
.registration-link:hover {
    color: #FFFFFF;
}

input {
    width: 100%;
}

.input-group .input-group-prepend {
    flex: 0 0 22%;
}
.input-group .input-group-text {
    width: 100%;
}

.button-login {
    background-color: #031D54;
    color: white;
}

.header {
    background-color: #031D54;
    color: white;
}