body {
    height: 100%;
    background-image: url("../../Documentation/Mockups/Main Page InventoryManager.png");
}

.container-fluid {
    background-color: white;
}



/* standard padding that should be used to stay conform */
.padding-top {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-right {
    padding-right: 15px;
}

.padding-left {
    padding-left: 15px;
}



/* standard margin */
.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}


/* Datepicker */
.date-picker-input[disabled] {
    background-color: #e9ecef !important;
    opacity: 1;
}

.date-picker-input {
    background-color: #fff !important;
    opacity: 1;
}

